{
    "row_based_partitioning" : false,
    "produce_combined_vcf": false,
    "produce_tiledb_array" : true,
    "column_partitions" : [
        {"begin": 0, "workspace":"/mnt/app_hdd/TileDB/WS/", "array": "test"}
    ],
    "vid_mapping_file" : "/mnt/app_hdd/TileDB/vcf2tile/vid_map.json",
    "callset_mapping_file" : "/mnt/app_hdd/TileDB/vcf2tile/callset_init.json",
    "size_per_column_partition": 100000,
    "treat_deletions_as_intervals" : true,
    "num_parallel_vcf_files" : 1,
    "delete_and_create_tiledb_array" : true,
    "do_ping_pong_buffering" : true,
    "offload_vcf_output_processing" : true,
    "discard_vcf_index": true,
    "compress_tiledb_array" : true,
    "segment_size" : 1048576,
    "num_cells_per_tile" : 1000
}
